.fs-shoppable-image {
    .hotspot-container {
        width: 100%;
        position: relative;
        img {
            vertical-align: middle;
            width: 100%;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        .overlay {
            width: 20px;
            height: 20px;
            position: absolute;
        }

        .poi {
            z-index: 5;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            margin: -10px 0 0 -10px;
        }
        .poi::before {
            content: ' ';
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 100%;
            position: absolute;
            width: 50px;
            height: 50px;
            margin: -17px 0 0 -17px;
            opacity: 0;
            animation: 4s ease-out 2s infinite poi-pulse-wide;
        }
        .product {
            z-index: 10;
            padding: 10px;
            position: absolute;
            background: #fff;
            text-align: left;
            visibility: hidden;
            width: 300px;
            &.q-top {
                top: calc(50% - 40px);
            }
            &.q-bottom {
                bottom: calc(50% - 40px);
            }
            &.q-left {
                left: calc(50% + 40px);
            }
            &.q-right {
                right: calc(50% + 40px);
            }
            > img {
                display: block;
                max-width: 277px;
                margin: 0 auto 10px;
            }
            .title {
                width: 100%;
                padding: 10px 0 0;
                font: italic 20px/1.5 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
            }
            .description {
                padding: 0 0 10px;
                text-align: justify;
            }
            a.button {
                margin: 0 auto;
                display: block;
                width: 50%;
                transition: none;
            }
            a:hover{
                text-decoration: none;
            }
        }
        :target.product {
            visibility: visible;
        }
    }

    .right {
        right: 0;
    }
    .center {
        margin: auto;
        right: 15px;
        left: 15px;
    }
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 10px;
        //Instead of the line below you could use @include box-sizing($bs)
        box-sizing: border-box;
        font-size: 5.5rem;
        font-size: 1.5em;
        font-size: 5.5vw;
    }
    @keyframes poi-pulse-wide {
        0% {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(1);
            opacity: 1;
        }
        100% {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: scale(5);
            opacity: 0;
        }
    }
    .fs-theme {
        .poi {
            background-color: rgba(186, 0, 101, .8);
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: rgba(186, 0, 101, .3) 0 0 0 6px, rgba(186, 0, 101, .3) 0 0 0 15px;
            animation: 2s ease-in infinite alternate fs-poi;
        }
        .poi::before {
            border: 2px solid rgba(186, 0, 101, .3);
        }
        .product {
            border: 2px solid #820545;
            .title {
                color: #820545;
            }
        }
    }
    @keyframes fs-poi {
        0% {
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: rgba(186, 0, 101, .3) 0 0 0 2px, rgba(186, 0, 101, .3) 0 0 0 6px;
        }
        100% {
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: rgba(186, 0, 101, .3) 0 0 0 6px, rgba(186, 0, 101, .3) 0 0 0 15px;
        }
    }
    [class*='close-'] {
        color: #777 !important;
        font: 14px/100% arial, sans-serif;
        position: absolute;
        right: 5px;
        text-decoration: none;
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: 0 1px 0 #fff;
        top: 5px;
    }
    .close-thin:after {
        content: '×';
    }
}
